<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head th:replace="/layouts/partials/head :: head">
</head>
<body>
<!-- Navbar -->
<div th:replace="/layouts/partials/navbar :: navbar"/>

<!-- Order Is Purchased -->
<div class="text-center mt-5">
    <h1>Ваш заказ оформлен!</h1> <br>
    <p>Благодарим за заказ!</p>
    <p th:text="'Номер Вашего заказа: №' + ${order.id} + '.'"></p>
    <p th:text="'Заказ будет доставлен по адресу: ' + ${order.shippingAddress} + '.'"></p>
    <p th:text="'Детали заказа будут отправлены на Вашу электронную почту: ' + ${order.user.email} + '.'"></p></div>
<section>
    <div class="cart-box-main">
        <div class="container mt-5">
            <h1>Детали заказа</h1> <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Дата заказа</th>
                                <th>Название товара</th>
                                <th>Количество</th>
                                <th>Способ оплаты</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:each="orderProduct : ${order.orderProducts}">
                                <tr>
                                    <!--Дата заказа-->
                                    <td th:utext="${#temporals.format(order.createdDate, 'dd.MM.yyyy')}"></td>
                                    <td>
                                        <!-- Название товара-->
                                        <a th:text="${orderProduct.product.name}"
                                           th:href="@{/products/{product}(product=${orderProduct.id})}">
                                        </a>
                                    </td>
                                    <!--Количество-->
                                    <td th:text="${orderProduct.quantity}"></td>
                                    <td style="color: black">
                                        <!-- Способ оплаты-->
                                        <span>Наличными</span>
                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div th:replace="/layouts/partials/footer :: footer"/>
</body>
</html>