<!DOCTYPE html>
<html lang="en">
<head th:replace="/layouts/partials/head :: head">
</head>
<body>
<div th:replace="/layouts/partials/navbar :: navbar"/>
<div class="text-center mt-5">
    <h1>Ваш заказ оформлен!</h1> <br>
    <p th:text="'Спасибо за покупку, ' + ${order.name} + '!'"></p>
    <p th:text="'Номер Вашего заказа: №' + ${order.id} + '.'"></p>
    <p th:text="'Заказ будет доставлен в город: ' + ${order.city} + ','"></p>
    <p th:text="'по адресу: ' + ${order.shippingAddress} + '.'"></p>
    <p th:text="'Детали заказа будут отправлены на Вашу электроную почту: ' + ${order.email} + '.'"></p></div>

<section>
    <div class="cart-box-main">
        <div class="container mt-5">
            <h1>Детали заказа</h1> <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Дата заказа</th>
                                <th>Название товара</th>
                                <th>Количество</th>
                                <th>Статус заказа</th>
                                <th>Способ оплаты</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:each="orderInfo : ${orderInfoList}">
                                <tr>
                                    <!--Дата заказа-->
                                    <td th:utext="${#temporals.format(orderInfo.order.createdDate, 'dd.MM.yyyy')}"></td>
                                    <td>
                                        <!-- Название товара-->
                                        <a th:text="${orderInfo.product.name}" th:href="@{/products/{product}(product=${orderInfo.product.id})}">
                                        </a>
                                    </td>
                                    <!--Количество-->
                                    <td th:text="${orderInfo.quantity}"></td>
                                    <td>
                                    <!-- Статус заказа-->
                                     <p th:if="${order.status}">
                                         Обрабатывается
                                     </p>
                                    </td>
                                    <td style="color: black">
                                        <!-- Способ оплаты-->
                                        <span>Наличными</span>
                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div th:replace="/layouts/partials/footer :: footer"/>
</body>
</html>