<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layouts/partials/head :: head">
</head>
<body>
<div th:replace="/layouts/partials/navbar :: navbar"/>

<!-- Cart  -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <!-- Cart is empty -->
            <div th:if="${#lists.isEmpty(cartProducts)}">
                <p class="alert alert-warning">В вашей корзине нет товаров.</p>
            </div>

            <!-- Cart is not empty -->
            <div th:if="${!#lists.isEmpty(cartProducts)}">
                <table class="table">
                    <!-- Table header -->
                    <thead class="table-dark">
                    <!-- Columns -->
                    <tr>
                        <th>Изображение</th>
                        <th>Название товара</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Итого</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <!-- Table body -->
                    <tbody>
                    <tr th:each="cartProduct : ${cartProducts}">
                        <!-- Product Image -->
                        <td>
                            <img style="max-height: 100px" th:src="${cartProduct.product.image}"
                                 alt="Не удалось загрузить изображение"/>
                        </td>
                        <!-- Product Name -->
                        <td>
                            <a th:href="@{/products/{id}(id=${cartProduct.product.id})}">
                                <p th:text="${cartProduct.product.name}"></p>
                            </a>
                        </td>
                        <!-- Price Per Product -->
                        <td>
                            <p th:text="${#numbers.formatDecimal(cartProduct.getProduct().getPrice(), 2, 'WHITESPACE', 2, 'COMMA') + ' ₽'}"></p>
                        </td>
                        <!-- Update action -->
                        <td>
                            <form th:action="@{/cart/update/{product}(product=${cartProduct.getProduct().getId()})}" method="post">
                                <input type="hidden" name="id" th:value="${cartProduct.getId()}">
                                <input type="number" size="4"
                                       th:value="${cartProduct.getQuantity()}"
                                       name="quantity" min="1" step="1">
                                <button type="submit" name="action" value="update" class="btn btn-warning">Обновить</button>
                            </form>
                        </td>
                        <!-- Product total price -->
                        <td>
                            <p th:text="${#numbers.formatDecimal(cartProduct.price, 2, 'WHITESPACE', 2, 'COMMA') + ' ₽'}"></p>
                        </td>
                        <!-- Delete Action -->
                        <td>
                            <form th:action="@{/cart/delete/{product}(product=${cartProduct.getProduct().getId()})}" method="post">
                                <input type="hidden" name="id" th:value="${cartProduct.getId()}">
                                <button type="submit" name="action" value="delete" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="d-flex justify-content-between mb-5" th:if="${!#lists.isEmpty(cartProducts)}">
                <b><h5 class="text-uppercase">К оплате:</h5></b>
                <b>
                    <h5>
                        <p th:text="${#numbers.formatDecimal(cart.getTotalPrice(), 2, 'WHITESPACE', 2, 'COMMA') + ' ₽'}"></p>
                    </h5>
                </b>
            </div>
        </div>
    </div>

    <div th:if="${!#lists.isEmpty(cartProducts)}">
        <div class="row">
            <div class="text-center"><a th:href="@{/orders/create}"
                                        class="ml-auto btn btn-lg btn-warning">Оформить заказ</a></div>
        </div>
    </div>

</div>

<div th:replace="/layouts/partials/footer :: footer"></div>
</body>
</html>