<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<div th:replace="/layouts/partials/head :: head"></div>
<body>
<div th:replace="/layouts/partials/navbar :: navbar"></div>

<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">

            <div class="text-center mt-5" th:style="'color:red'" th:if="${param.error} ">
                Неправильное имя пользователя или пароль.
            </div>
            <div class="text-center mt-5" th:style="'color:red'" th:if="${param.logout}">
                Вы вышли учетной записи.
            </div>

            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Войти</h1>
                <a href="/" style="text-decoration:none">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </a>
            </div>

            <div class="modal-body p-5 pt-0">
                <form th:action="@{/login}" method="post" class="needs-validation" novalidate>
                    <div class="form-floating mb-3">
                        <input type="text" name="username" class="form-control rounded-3" id="floatingInput" required>
                        <label for="floatingInput">Имя пользователя</label>
                        <div class="invalid-feedback">
                            Пожалуйста, введите Ваше имя пользователя.
                        </div>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control rounded-3" id="floatingPassword" required>
                        <label for="floatingPassword">Пароль</label>
                        <div class="invalid-feedback">
                            Пожалуйста, введите Ваш пароль.
                        </div>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-dark" type="submit">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="/layouts/partials/footer :: footer"></div>

<script th:inline="javascript">
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            let validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>