<!doctype html>
<html lang="en">
<head th:replace="/layouts/partials/head :: head">
</head>
<body>
<div th:replace="/layouts/partials/navbar :: navbar"></div>
<div th:replace="/layouts/partials/posts-filter :: posts-filter"></div>
    <div class="text-center mt-5">
        <h1>Мои посты</h1>
    </div>

    <div th:fragment="posts" class="card mt-5" style="max-width: 25rem; margin: 0 auto; float: none;" th:each="post : ${posts}">
        <!-- Post User -->
        <a class="text-decoration-none" th:href="@{/user/{id}(id=${post.user.id})}">
            <div class="card-header bg-dark text-center text-white" th:text="${post.username}"></div>
        </a>

        <!--Post Image -->
        <svg class="bd-placeholder-img" width="100%" height="225"
             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
        </svg>
        <!-- Post -->
        <div class="card-body">
            <!-- Post Title -->
            <h5 class="card-title text-center" th:text="${post.title}"></h5>
            <!-- Post Description -->
            <p class="card-text text-center" th:text="${post.description}"></p>
            <!-- Post Details -->
            <a href="#" style="text-decoration: none; position:absolute; bottom:0; right:0;">Читать</a>
        </div>
        <div class="card-footer text-muted"  th:utext="${#temporals.format(post.createdAt, 'dd.MM.yyyy')}">
        </div>
    </div>
<div th:replace="/layouts/partials/footer :: footer"></div>
</body>
</html>