<!doctype html>
<html lang="en">
<head th:replace="/layouts/partials/head :: head">
</head>
<body>
<div th:replace="/layouts/partials/navbar :: navbar"></div>
<div th:replace="/layouts/partials/posts-filter :: posts-filter"></div>
    <div class="text-center mt-5">
        <h1>Мои посты</h1>
    </div>

    <div th:fragment="posts" class="card mt-5" style="max-width: 25rem; margin: 0 auto; float: none;" th:each="post : ${posts}">

        <!-- Post Title -->
        <div class="card-header bg-dark text-center text-white" th:text="${post.title}"></div>

        <!--Post Image -->
        <img th:src="@{/uploads/__${post.filename}__}" alt="" width="100%" height="100%">

        <!-- Post -->
        <div class="card-body">
            <!-- Post Description -->
            <h5 class="card-text text-center" th:text="${post.shortDescription} + '...'"></h5>
            <!-- Post Details -->
            <a href="#" style="text-decoration: none; position:absolute; bottom:0; right:0;">Читать</a>
        </div>
        <div class="card-footer text-muted"  th:utext="${#temporals.format(post.createdAt, 'dd.MM.yyyy')}">
        </div>
    </div>
<div th:replace="/layouts/partials/footer :: footer"></div>
</body>
</html>