<!doctype html>
<html lang="en">
<head th:replace="/parts/head :: head">
</head>
<body>
<div th:replace="/parts/navbar :: navbar"></div>
<div th:replace="/parts/products-filter :: products-filter"></div>
<div class="container py-3">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Каталог товаров</h1>
            <p class="fs-5 text-muted">Здесь вы найдете нужные товары по самым привлекательным ценам!</p>
        </div>
    </header>
</div>
<div class="mt-0" th:replace="/parts/categories-cards :: categories-cards"></div>
<div th:replace="/parts/footer :: footer"></div>
</body>
</html>