<!doctype html>
<html lang="en">
<head th:replace="/partials/head :: head">
</head>
<body>

<div th:replace="/partials/navbar :: navbar"></div>
<div class="text-center mt-5">
    <h1>Webify</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/300x200.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Post Title 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/300x200.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Post Title 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/300x200.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Post Title 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/partials/footer :: footer"></div>
</body>
</html>