<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/parts/head :: head">
</head>
<body>
<div th:replace="/parts/navbar :: navbar"></div>

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold"><p th:text="${product.name}"></p></h1>

    <div class="overflow-hidden">
        <div class="container px-5">
            <img th:src="@{${product.image}}" class="img-fluid border rounded-3 shadow-lg mb-4"
                 alt="Не удалось загрузить изображение." loading="lazy" width="700" height="500">
        </div>
    </div>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
        <p th:text="${product.description}"></p></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a class="btn btn-outline-secondary btn-lg px-4" href="javascript:history.back()">Назад</a>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/user/{user}/cart/{cart}/add/{product}(user=${user.id}, cart=${user.cart.id}, product=${product.id})}"
                      method="post">
                    <a style="text-decoration:none">
                        <button type="submit" class="w-100 btn btn-lg btn-warning">Добавить в корзину</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="/parts/footer :: footer"></div>


<!--<div class="bd-example-snippet bd-code-snippet"><div class="bd-example">-->
<!--    <img th:src="@{${product.image}}" alt="Не удалось загрузить изображение." width="800" height="800">-->
<!--</div></div>-->

<!--<p th:text="${product.name}"></p>-->
<!--<p th:text="${product.description}"></p>-->
<!--<p th:text="${product.price}"></p>-->
<!--<p th:text="${product.image}"></p>-->

<!--<h3>Удалить товар</h3>-->
<!--<form action="/productList/delete/{{id}}" method="post">-->
<!--    <input type="submit" value="Удалить товар">-->
<!--</form>-->
</body>
</html>
