<!DOCTYPE html>
<html>
<head>
    <title>Webify</title>
</head>
<body>
<h1>Webify</h1>
<h4>Товары со всей России!</h4>
<form action="/" method="get">
    Поиск по названию объявления: <input type="text" name="title"> <br>
    <input type="submit" value="Поиск" >
</form>

{{#products}}
    <div>
        <p>
            <b>Название: {{title}}</b> <br>
            <b>Описание: {{description}}</b> <br>
            <b>Цена: {{price}}</b> <br>
            <b>Город: {{city}}</b> <br>
            | <a href="/product/{{id}}">Подробнее |</a>
        <!-- else Товаров нет  -->
        </p>
    </div>
{{/products}}
<hr>
<h3>Создать новый товар</h3>
<form action="/product/create" method="post"><br> <br>
    Название товара: <input type="text" name="title"><br> <br>
    Описание товара: <input type="text" name="description"> <br> <br>
    Цена товара: <input type="number" name="price"><br> <br>
    Город: <input type="text" name="city"><br> <br>
    Автор: <input type="text" name="author"><br> <br>
    <input type="submit" value="Добавить товар">
</form>
</body>
</html>