<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Webify</title>
</head>
<body>
<h1>Webify</h1>
<h4>Товары со всей России!</h4>
<form action="/" method="get">
    Поиск по названию объявления: <input type="text" name="title"> <br>
    <input type="submit" value="Поиск">
</form>

<div>


    <tr th:each="product: ${products}">
        <td th:text="${product.name}">Название</td>
        <br>
        <td th:text="${product.description}">Описание</td>
        <br>
        <td th:text="${product.city}">Город</td>
        <br>
        <td th:text="${product.price}">Цена</td>
        <br>
        <td th:text="${product.category}">Категория</td>
        <br>
    </tr>
</div>
<hr>
<h3>Создать новый товар</h3>
<form action="/product/create" method="post"><br> <br>
    Название товара: <input type="text" name="title"><br> <br>
    Описание товара: <input type="text" name="description"> <br> <br>
    Цена товара: <input type="number" name="price"><br> <br>
    Город: <input type="text" name="city"><br> <br>
    Автор: <input type="text" name="author"><br> <br>
    <input type="submit" value="Добавить товар">
</form>
</body>
</html>