<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webify</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/products-cards :: products-cards"></div>
<div th:insert="blocks/footer :: footer"></div>

<h3>Создать новый товар</h3>
<form th:action="@{/product/create}" method="post"><br> <br>
    Название товара: <input type="text" name="name"><br> <br>
    Описание товара: <input type="text" name="description"> <br> <br>
    Цена товара: <input type="number" name="price"><br> <br>
    Категория товара: <input type="number" name="category"><br> <br>
    <input type="submit" value="Добавить товар">
</form>

</body>
</html>