<!DOCTYPE html>
<html>
<head th:replace="/partials/head :: head">
</head>
<body>
<div th:replace="/partials/navbar :: navbar"></div>
<div th:replace="/partials/products-filter :: products-filter"></div>
<div class="mt-0" th:replace="/partials/products-cards :: products-cards"></div>
<div th:replace="/partials/footer :: footer"></div>
<!--<h3>Создать новый товар</h3>-->
<!--<form th:action="@{/productList/create}" method="post"><br> <br>-->
<!--    Название товара: <input type="text" name="name"><br> <br>-->
<!--    Описание товара: <input type="text" name="description"> <br> <br>-->
<!--    Цена товара: <input type="number" name="price"><br> <br>-->
<!--    Категория товара: <input type="number" name="category"><br> <br>-->
<!--    <input type="submit" value="Добавить товар">-->
<!--</form>-->

</body>
</html>