<!DOCTYPE html>
<html lang="en">
<head th:replace="/parts/head :: head">
</head>
<body>
<div th:replace="/parts/navbar :: navbar"></div>

<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div>
                <div th:if="${errorMessage}">
                    <div th:style="'color:red'" th:text="${errorMessage}"></div>
                </div>
            </div>
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Зарегистрироваться</h1>
                <a href="/" style="text-decoration:none">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </a>
            </div>

            <div class="modal-body p-5 pt-0">
                <form th:action="@{/registration}" method="post" class="">
                    <div class="form-floating mb-3">
                        <input type="text" name="username" class="form-control rounded-3" id="floatingInput">
                        <label for="floatingInput">Имя пользователя</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control rounded-3" id="floatingPassword">
                        <label for="floatingPassword">Пароль</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-warning" type="submit">Зарегистрироваться
                    </button>
                    <small class="text-muted">Нажимая "Зарегистрироваться", Вы соглашаетесь с условиями
                        использования.</small>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="/parts/footer :: footer"></div>
</body>
</html>