<!doctype html>
<html lang="en">
<head th:replace="/parts/head :: head">
</head>
<body>
<div th:replace="/parts/navbar :: navbar"></div>


<div class="text-center">

    <form th:action="@{/user/{user}/posts/post/create(user = ${user.id})}" method="post"><br> <br>
        Название поста: <input type="text" name="header"><br> <br>
        Описание поста: <input type="text" name="description"> <br> <br>
        <input type="submit" value="Добавить пост">
    </form>

    <div class="text-center mt-5">
        <h1>Мои посты</h1>
    </div>
    <div th:replace="/parts/posts-cards :: posts-cards"></div>
</div>


<div th:replace="/parts/footer :: footer"></div>
</body>
</html>