<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                    <li><a href="/categories" class="nav-link px-2 text-white">Каталог</a></li>
                    <li><a href="/about" class="nav-link px-2 text-white">О нас</a></li>
                </ul>

                <form action="/" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="text" name="name" class="form-control form-control-dark text-bg-dark"
                           placeholder="Найти..."
                           aria-label="Search">
                </form>

                <div sec:authorize="isAuthenticated()">
                    <div class="dropdown text-end">
                        <a class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img th:src="@{/images/avatar.png}" alt="?" class="rounded-circle" width="32" height="32">
                        </a>
                        <ul class="dropdown-menu text-small" style="">
                            <li><a class="dropdown-item" th:href="@{/user/{user}(user=${user.id})}">Мой
                                профиль</a></li>
                            <li><a class="dropdown-item" th:href="@{/user/{user}/posts(user=${user.id})}">Мои
                                посты</a></li>
                            <li><a class="dropdown-item" th:href="@{/user/{user}/products(user=${user.id})}">Моя корзина</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="dropdown-item">
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="btn">Выйти</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <div class="text-end">
                        <a href="/login" style="text-decoration:none">
                            <button type="button" class="btn btn-outline-light me-2">Войти</button>
                        </a>
                        <a href="/registration" style="text-decoration:none">
                            <button type="button" class="btn btn-warning">Зарегистрироваться</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>